.movie-results {
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    &__img {
        border-radius: 8px 0 0 8px;
        display: block;
    }
    
    &__list {
        display: flex;
        width: 600px;
        flex-direction: column;
        row-gap: 20px;
        margin: auto;
        padding: 20px;
    }

    &__item {
        border-radius: 8px;
        border: 1px solid rgba(227, 227, 227);
        display: flex;
        align-items: center;
    }

    &__title {
        display: inline;
    }

    &__release {
        margin: 10px 0 15px;
    }

    &__container {
        padding: 10px 15px;
    }
}